# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# Application Port - express server listens on this port (default 3000).
# PORT=3000
# LOG_LEVEL=debug
CONFIG_FILE=.example.fixedwindowrc.yml
NODE_ENV=development
PRETTY_PRINT=true
WELL_KNOWN_URL=
